
@import "tailwindcss";
.app-bg {
    @apply min-h-screen flex items-center justify-center
    bg-gradient-to-br from-gray-900 via-gray-800 to-black;
}

/* Auth Card */
.auth-card {
    @apply bg-gray-900 border border-gray-700
    p-8 rounded-xl shadow-2xl
    w-[380px];
}

/* Page Heading */
.auth-title {
    @apply text-3xl font-bold text-center
    text-white mb-6;
}

/* Form Input */
.auth-input {
    @apply w-full bg-gray-800 text-white
    border border-gray-700 rounded-lg
    px-3 py-2
    focus:outline-none
    focus:ring-2 focus:ring-blue-500;
}

/* Form Label */
.auth-label {
    @apply block text-sm text-gray-400 mb-1;
}

/* Primary Button */
.auth-btn {
    @apply w-full bg-blue-600 hover:bg-blue-700
    text-white py-2.5 rounded-lg
    font-semibold transition duration-200
    shadow-lg shadow-blue-600/20;
}

/* Error Message */
.auth-error {
    @apply bg-red-500/10 text-red-400
    text-sm p-2 rounded mb-4
    border border-red-500/20;
}

/* Switch Link */
.auth-switch {
    @apply text-center text-sm text-gray-400
    mt-6 cursor-pointer
    hover:text-blue-400 transition text-white;
}

/* Logo */
.auth-logo {
    @apply h-15 w-auto drop-shadow-md;
}

.Employer-container{
   @apply min-h-screen flex items-center justify-center
    bg-gradient-to-br from-gray-900 via-gray-800 to-black;
}
.employer-content{
    
   @apply bg-gray-900 border border-white
    p-8 rounded-xl shadow-2xl
    max-w-4xl mx-auto  rounded-2xl shadow-lg p-6;
}
.employer-img-box{
    @apply flex items-center gap-6 ;
}
.employer-img{
    @apply w-24 h-24 rounded-lg border border-white text-white;
}
.comp-name{
    @apply text-2xl font-bold text-white;
}
.comp-para{
    @apply text-gray-500 text-white;
}
.comp-info-box{
    @apply mt-6;
}
.comp-about{
    @apply text-xl font-semibold mb-2 text-white;
}
.comp-contact-box{
    @apply mt-6;
}
.comp-contact-heading{
    @apply text-xl font-semibold mb-2 text-white;
}
p{
    @apply text-white;
}
.button{
    @apply mt-6 bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700;
}